@CHARSET "ISO-8859-1";

html{
    font-family: 'Roboto', sans-serif;
    src: url(Roboto-Bold.ttf);
}
head{
     font-family: 'Roboto', sans-serif;
    src: url(Roboto-Bold.ttf);
}
body{
    margin: 0px;
    padding: 0px;
     font-family: 'Roboto', sans-serif;
    src: url(Roboto-Bold.ttf);
    background-color: black;
    background-image: url(blank-chalkboard-wallpaper.jpg);
    background-attachment: fixed;
}

.central
{
    width: 50%;
    height: 40%;
    position: absolute;
    left: 25%;
    top: 30%;
    border-radius: 0px 15px 15px 15px;
    background-color: white;
}

.cabecalho{
    position: absolute;
    width: 70%;
    height: 20%;
    top: -10%;
    left: -5%;
    background-color: green;
    border-radius: 5px;
    background-color: #2E8B57;
    font-size: 20px;
    color: white;
}

.h2{
    position: absolute;
    left: 20%;
    top: -30%;
}

.campo1{
    position: absolute;
    top: 5%; 
    left: 10%;
}

.campo2{
    position: absolute;
    top: 45%; 
    left: 10%; 
}

.campo3{
    position: absolute;
    left: 40%;
    top: 45%;
    
    
}


.btncad
{
    position: absolute;
    left: 75%;
    top: 75%;
    
}

.btncadastrar{
    width: 130px;
    height: 40px;
    font-size: 20px;
    background-color: #4D4DFF;
    border: none;
    border-radius: 8px;
    color: white;
}

.btncadastrar:active{
    background-color: #1E90FF;
}


.texto{
    width: 180px;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: #E6E6FA;
    font-size: 18px;
    color: #191970;
}

.titulo{
     font-family: 'Roboto', sans-serif;
    src: url(Roboto-Bold.ttf);
    font-size: 20px;
}

.titulo2{
     font-family: 'Roboto', sans-serif;
    src: url(Roboto-Bold.ttf);
    font-size: 15px;
}

.texto1{
    width: 500px;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: #E6E6FA;
    font-size: 18px;
    color: #191970;
}

select{
    width: 180px;
    height: 40px;
    background-color: #E6E6FA;
    -webkit-appearance: none;
    font-size: 18px;
    color: #191970;
    text-indent: 0.01px;
    border-radius: 5px;
    border: none;
}

