<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

	<session-factory>

		<!-- MYSQL -->
 		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">root</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/educom?autoReconect=true</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
		<property name="hibernate.current_session_context_class">thread</property>
		 <!-- -->
		
		<property name="log.hibernate">true</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		
		<property name="show_sql">true</property>
		<property name="format_sql">true</property>

		<!-- Mapeamento de Entidades -->
		
		<mapping class="br.edu.com.entities.Aluno" />
		<mapping class="br.edu.com.entities.Atividade" />
		<mapping class="br.edu.com.entities.Disciplina" />
		<mapping class="br.edu.com.entities.Instituicao" />
		<mapping class="br.edu.com.entities.Instituicao" />
		<mapping class="br.edu.com.entities.Turma" />
		<mapping class="br.edu.com.entities.Professor" /> 
		<mapping class="br.edu.com.entities.UsuarioLogin"/>
		
		

	</session-factory>

</hibernate-configuration>
